@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .phone
    font-size: 18px

  h1
    font-size: 40px
    margin: 0 0 30px

  .wrapper
    margin: 30px 0 0

  .list-social li
    margin: 0 10px 0 0

  .btn-accent
    font-size: 14px

  .consultation-sale__box .form
    padding: 0

  .form-group
    max-width: none
    margin: 0 0 20px
    &:last-child
      margin: 0 auto

  .reviews-slider
    padding: 0

  .main .consultation-sale__box .form-group
    max-width: none

  .list-advantages h3
    font-size: 20px

  .list-advantages
    .number
      font-size: 70px

  .gallery-box
    max-width: none
    padding: 0 5px

  .contacts-section-wrap
    justify-content: center
    margin: 0 auto 30px

  .doc
    text-align: center

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .nav-menu
    justify-content: space-between
    li
      margin: 0

  .schedule
    width: 33.3%
    order: 1

  header
    .select-location
      width: 33.3%
      max-width: none
      order: 1
    .btn
      order: 1
    .phone
      width: 33%
      text-align: center

  .list-social
    width: 33.3%
    justify-content: flex-end

  .consultation
    margin: 30px 0 40px

  .consent
    margin: 10px auto 0
    max-width: none
    text-align: center

  .map
    height: 300px
    width: 100%

  .footer-content
    padding: 30px 0 120px

  footer
    .phone
      font-size: 28px
      margin: 0 0 20px

  .btn-view
    font-size: 16px
    line-height: normal

  footer .form 
    .consent
      margin: 10px auto 0
      text-align: left

  .vacancy-box h3
    font-size: 18px
    
  .questionnaire
    margin: 40px 0
    
  .form-questionnaire
    .consent
      text-align: left

  .services-description
    flex-direction: column
    align-items: flex-start
    .box-text
      width: 100%
      padding: 0
      margin: 0 0 20px
      font-size: 16px

  .service-img
    margin: 0 auto 20px

  .consultation-sale__box .form
    margin: 20px auto 0

  .reviews-box
    margin: 20px auto

  h2
    font-size: 40px

  .main-service-page
    .box-text
      margin: 0 0 20px
      strong
        margin: 20px 0 0
    h1
      max-width: none

  .main .consultation-sale__box
    margin: 20px auto

  .main-right
    padding: 40px 0 0

  .img-decor
    width: 335px

  .main h1
    font-size: 50px

  .main-text
    font-size: 18px
    max-width: none

  .about-img
    margin: 30px auto 0

  .about-section .box-text
    font-size: 18px

  .sale-section img
    margin: 20px auto 0

  .sale-section .box-text
    font-size: 18px

  .advantages
    margin: 40px 0

  .list-advantages li .number
    font-size: 50px
    margin: -10px 20px 0 0
    width: 30px
    min-width: 30px

  .list-advantages
    margin: 30px 0 0
    h3
      font-size: 20px
      max-width: none

  .image-advantages
    margin: 30px 0 0

  .contacts-section .form-group
    max-width: none
    .btn
      margin: 0 auto

  .contacts-section
    margin: 30px 0

  .page-details-info .box-text
    margin: 0
    font-size: 16px

  .page-details-info2
    .box-text
      border-radius: 10px
      padding: 20px
    .about-img
      height: auto

  .powder-coating
    margin: 30px 0 20px
    h3
      font-size: 20px

  .consultation-page-two
    margin: 0 0 40px

  .quality-painting
    h3
      font-size: 20px
    img
      max-width: 400px

@media only screen and (max-width: 768px)
  .header-bottom
    display: none
    position: fixed
    left: 0
    top: 0
    max-width: 300px
    width: 100%
    z-index: 2
    height: 100%
    overflow-y: auto
    padding: 30px 0
    .select-location, .schedule
      display: block
    .list-social
      display: flex
    .schedule
      color: #fff
      max-width: none
      width: 100%
      font-size: 14px
      span
        color: #fff
    .select-location
      width: 100%
      margin: 20px 0
    .list-social
      width: 100%
      justify-content: flex-start
      margin: 30px 0 0
      .icon-svg
        fill: #fff

  .btn-burger
    display: flex
    order: 1

  .header-top
    padding: 10px 0

  .btn-close
    display: block

  .header-top
    .schedule, .select-location, .list-social
      display: none

  .nav-menu
    flex-direction: column
    align-items: flex-start
    li
      margin: 0 0 10px
      a
        padding: 0
        font-size: 16px

  header
    .phone, .list-social
      width: auto


  .logo
    max-width: 120px

  .phone
    font-size: 14px

  .consultation-box
    padding: 20px

  .description-title
    font-size: 16px

  .form
    flex-direction: column
    align-items: center
    label
      max-width: none
      margin: 0 auto 15px

  footer .form
    label
      margin: 0 auto 15px
    .consent
      text-align: center

  .box-consult
    font-size: 16px
    h3
      font-size: 20px

  .main-sale
    margin: 0 0 40px

  .sale-box__body
    padding: 20px

  .sale-box
    min-height: 200px
    h3
      font-size: 18px
      max-width: 200px

  .tab-content
    margin: 20px 0 0

  h2
    font-size: 30px

  .main-service-page
    h1
      margin: 0 0 30px

  .main h1
    font-size: 40px

  .main-text
    margin: 0
    font-size: 16px

  .stages-decision-box
    font-size: 20px
    height: 220px
    h3
      font-size: 60px
      margin: 0 20px 0 0

  .service-spike
    padding: 30px 0

    h3
      margin: 0 0 20px
      font-size: 20px
      max-width: none
    .box-text
      font-size: 18px
      max-width: none

  .service-spike-img
    margin: 30px auto 0

  .powder-coating
    margin: 30px 0
    h3
      margin: 0 auto 30px
      font-size: 18px
      height: auto
    img
      max-width: 300px

  .quality-painting
    h3
      margin: 0 auto 30px
      height: auto
      font-size: 18px
    img
      max-width: 300px
      margin: 0 auto

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px)
  h1, .main h1
    font-size: 30px

  .services-section, .category-auto
    margin: 0 0 30px

  .about-section .box-text, .sale-section .box-text
    font-size: 16px

@media only screen and (max-width: 480px)
  .header-top
    .btn
      display: none

  .video-box
    height: 400px

  .sale-section
    margin: 40px 0 0

  .gallery-slider
    padding: 0

  .main-contacts .map
    height: 300px

  .phone-call
    font-size: 18px

  .service-spike-img
    max-width: 220px
    &:before
      width: 300px
      height: 280px
      left: -20px

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .table-price__row
    flex-direction: column
    align-items: flex-start
    padding: 10px
    border:
      bottom: 1px solid #767676
    &:last-child
      border: none

  .table-price__name, .table-price__category, .table-price__sum
    border: none
    padding: 0
    width: 100%
    margin: 0 0 10px

  .nav-pills .nav-link
    padding: 10px 12px
    font-size: 13px
    .icon-arrow
      width: 18px
      height: 18px

  .adv-img
    max-width: 300px

  .list-advantages h3
    font-size: 18px


